
			@font-face {
				font-family: qingye;
				src: url('./static/YiPinQingYeShouXieTi-2.ttf');
			}
			.sp-font {
				font-family: qingye
			}
			html {
				height: 100%;
			}
			body {
				position: relative;
				min-height: 100%;
				margin: 0;
				padding: 0;
			}
			.m-shuangye-search-header {
				text-align: center;
				padding: 30px 0;
				color: #ddd;
			}
			.m-shuangye-search-header .title {
				margin-top: 8px;
				color: #8b8681;
				font-size: 48px;
				font-weight: 600;
			}

			.search-form {
				margin: 0 16px;
			}

			.container-form-wrapper {
				display: flex;
				height: 42px;
			}

			.container-form-wrapper .input {
				flex: 1;
				padding: 0 8px;
				outline: none;
				font-size: 16px;
			}

			.container-form-wrapper .input:focus {
				border: 1px solid #F6B200;
				padding-left: 10px;
			}

			.container-form-wrapper .submit {
				background: #F6B200;
				font-size: 16px;
				border: 1px solid #F6B200;
				color: #fff;
				outline: none;
			}

			footer.m-shuangye-search-footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				font-family: sans-serif;
				font-size: 13px;
				line-height: 16px;
				font-weight: 700;
				color: #999
			}
			.m-shuangye-search-footer a {
				color: #999
			}
